
$white:#ffffff;


$header-menu-color  : #A9A9A9;
$separator 			: rgb(183,52,220);
$white 				: #ffffff;
$light-grey         : rgb(149,149,149);
$dark-grey			: rgb(155,155,155);

$light-black  		:rgb(75,75,75);

$color1				: rgb(38,255,52);
$color2:rgb(255,50,16);
$color3:rgb(255,255,255);
$color4:rgb(0,36,208);
$color5:rgb(255,12,235);


$grey:#bababa;
$grey-download : rgb(178,178,178);
$black-text:#50275d;
$purple : rgb(98,65,108);
$purple-light : rgb(175,56,174);







































