
$white:#ffffff;


$header-menu-color  : #A9A9A9;
$separator 			: rgb(183,52,220);
$white 				: #ffffff;
$light-grey         : rgb(149,149,149);
$dark-grey			: rgb(155,155,155);

$light-black  		:rgb(75,75,75);







































