@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto);
$text-font  : 'WorkSans-Regular',sans-serif;
$heading-font : 'WorkSans-SemiBold',sans-serif;

$title-font-thin : 'Roboto thin', sans-serif;
$title-font : 'Roboto Light', sans-serif;
$title-font1 : 'Roboto Medium', sans-serif;

$body-font  : 'Lato', sans-serfif;

// Settings for harmon
$base:  16px;
$ratio: $perfect-fourth;

.very-small-text {
    font-size: scale( -3 );
}

.small-text{
    font-size: scale( -1 );
}

.normal-text {
    font-size: scale( 0 );
}
.big-text {
    font-size: scale( 1 );
    font-family: $title-font;
}

.very-big-text {
    font-size: scale( 2 );
    font-family: $title-font;
}

.huge-text {
    font-size: scale( 3 );
    font-family: $title-font;
}

.giant-text {
    font-size: scale( 4 );
    font-family: $title-font1;
}
.very-giant-text {
    font-size: scale( 5 );
    font-family: $title-font;
}
* {
    box-sizing:border-box;
    font-family: $title-font;
}

body{
	font-family: $title-font;
    // font-weight: 400;
    line-height: scale( 2, unitless );
}
