.IL-main-section{
	margin:3% 5% 0 5%;
	// border:1px solid;
	position: relative;
	overflow: hidden;
	.ms-text{
		@extend .normal-text;
		font-family: $title-font;
		color: $grey;
		letter-spacing: .3;
		text-align: center;
	}
	.ms-image{
		margin: auto;
		img{
			max-width: 100%;
			max-height: 100%;
			display: block;
			margin: auto;
			text-align: center;	
		}
		@include media( '<500px' ) {
			margin-top: 50px;
		}
	}
}

.e-section-seperator-small {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 2px;
    margin-bottom: 5px;
    background: $separator;
}

.general-properties{
	margin:0 5%;
	// border: 1px solid;
	height: 50%;
	width: 50%;

	line-height: 0;
	.prop-heading{
		// border: 1px dashed;
		@extend .big-text;
		color:$black-text;
		letter-spacing: .5;
	}
	.prop-text-container{
		width: 80%;
		height: 50%;
		// border: 1px solid;
	}
	.prop-row{
		@extend .normal-text;
		// border: 1px solid;
		width: 90%;
		// height: 10%;
		line-height: 1.5;
		letter-spacing: .5;
		color:$black-text;
		.prop-left{
			width: 40%;
			float: left;
			// border: 1px dashed red;
		}
		.prop-right{
			width: 60%;
			float: left;
			// border: 1px dashed blue;
		}
	}
}
