

.bodyClass{
	// width: 100%;
	height: 100%;
	overflow: hidden;
}
.videoContainer{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, .8);
	display: none;
	margin: auto;
	.video{
		position: absolute;
		width: 60%;
		height: 95%;
		top:50px;
		left: 20%;
		@include media( '<800px' ) {
			// height: 60%;
			width: 80%;
			left: 5%;
			// margin: auto;
		}
	}
	.video-close{
		right: 10%;
		top:30px;
		@include media( '<800px' ) {
			// height: 60%;
			// width: 80%;
			right: 5%;
			// margin: auto;
		}
	}
}

.main-section{
	position: relative;
	overflow: hidden;
	// height: 1000;
	// border: 1px solid;
	// 
	.image-container{
		margin-top:0;
		position: relative;
		overflow: hidden;
		// height: 70%;
		width: 100%;
		height: 450px;
		// margin-bottom: 50px;
		text-align: center;
		margin: auto;
		// border: 1px solid;
		@include media( '<400px' ) {
			// height: 60%;
			height: 175px;
		}
		@include media( '>=400px','<600px' ) {
			// height: 60%;
			height: 300px;
		}
		img {
		    display: inline;
		    // border: 1px solid;
		    max-width: 100%;
			max-height: 100%;
		    // height: 450px/;
		    // width: 80%;
		}
		.image3-cont{
			position: relative;
			overflow: hidden;
			width: 7%;
		}
		.btn-play{
			width: 10%;
			max-height: 100%;
			// height: 10%;
			opacity: .5;
			position: absolute;
			top:65%;
			left:47%;
			margin:auto;
			// border: 1px solid;
			z-index: 1;
			cursor: pointer;

		}
	}
	.main-section-heading{
		@extend .normal-text;
		// border: 1px solid red;
		// width: 300px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
		// font-weight: 100;
		line-height: 1.5;
		letter-spacing: .5;
		color: $light-black ;
		font-weight: 500;
		@include media( '<=500px' ) {
			font-size: scale( -1 );
			padding: 0 10px;
		}
	}
	.icon-text{
		height: 100px;
		// border: 1px solid;
		
		// margin-bottom: 20px;
		margin: auto;
		// margin-top:5%;
		margin-bottom: 2%;
		@include media( '<=800px' ) {
			width: 100%;
			margin-top:30px;
		}
		@include media( '>800px' ) {
			width: 60%;
		}
		.icon-container{
			width: 33%;
			height: 75%;
			// border: 1px dashed;
			float: left;
			.icon-image-container{
				margin: auto;
				text-align: center;
				@include media( '<=750px' ) {
					height: 80%;
				}
				@include media( '>=750px' ) {
					// width: 150px;
					height: 100%;
				}
				img {
					opacity: 0.4;
				    display: inline;
				    max-height: 100%;
				    max-width: 100%;
				}
			}
			.icon-text-container{
				// border: 1px dashed;
				
				@extend .normal-text;
				@include media( '<=500px' ) {
					font-size: scale( -1 );
				}
				color:$header-menu-color;
				height: 25%;
				text-align: center;
				padding: 0;
			}
		}
	}
}
.content{
	width: 100%;
	.is-text1{
		color:black;
		@extend .very-big-text;
		line-height: 0;
		padding-left: 30px;
		padding-top: 30px;
	}
}

.lighting-section1{
	position: relative;
	overflow: hidden;
	width: 95%;
	margin: auto;
	// background-color: red;
	max-height: 100%;
	// margin-top: 5%;
	// border: 1px solid;
	// background-color: red;

	img{
		max-width: 100%;
		min-height: 100%;
		max-height: 1150px;
		@include media( '>900px' ) {
			margin-top: -15%;
		}

	}
	.is-text{
		position: absolute;
		padding-left: 10%;
		@include media( '>500px' ){
			top:10%;
		}
		@include media( '<=500px' ){
			top:5%;
		}

		
		.is-text1{
			@extend .huge-text;
			color: $white;
			line-height: 0;
			font-weight: 100;
			font-family: $title-font;
			font-weight: 100;
			letter-spacing: 1;
			
			@include media('>=500px', '<750px' ) {
				// top:-10px;
				padding-top: 5px;
				font-size: scale( 2 );
    			font-family: $title-font;
			}
			@include media( '<500px' ) {
				// top:0px;
				padding-top: 15px;
				font-size: scale( 1 );
    			font-family: $title-font;
			}
		}
		.is-text2{
			@extend .very-giant-text;
			color: $white;
			line-height: 0;
			font-weight: 700;
			@include media('>=500px', '<750px' ) {
				// top:-10px;
				// padding-top: 10px;
				font-size: scale( 4 );
    			font-family: $title-font;
			}
			@include media( '<500px' ) {
				padding-top: 5px;
				font-size: scale( 2 );
    			font-family: $title-font;
			}
		}
	}
	.lg-content{
		overflow: hidden;
		position: absolute;
		padding-left: 10%;
		@extend .normal-text;
		color: $white;
		text-align: left;
		letter-spacing: 2;
		@include media( '<=500px' ) {
			line-height: 1.2;
			width: 80%;
			text-align: left;
			top:70px;
			// left: 20px;
			font-size: scale( -1 );
		}
		@include media('>500px', '<900px' ) {
			// line-height: 1.2;
			// width: 60%;
			// top:70px;
			line-height: 1.5;
			width: 60%;
			top:40%;
		}
		@include media( '>=900px' ) {
			line-height: 1.5;
			width: 50%;
			top:37%;
		}
	}
	.lg-image{

		position: absolute;
		overflow: hidden;
		bottom: 0;

		@include media( '>500px','<750px' ) {
			width: 40%;
			right:50px;
		}
		@include media( '>=750px' ) {
			width: 30%;
			right: 50px;
		}
		@include media( '<500px' ) {
			// display: none;
			width: 35%;
			right:30px;
		}
		// border: 1px solid;
		img{
			max-width: 100%;
			max-height: 100%;
			margin-top: 0;
			// margin-bottom: 20%;

		}
	}
	.color-img-container{
		position: absolute;
		bottom:20px;
		// border: 1px dashed white;
		width: 270px;
		height: 50px;
		.color-img{
			width:50px;
			height: 50px;
			float: left;
			margin-left: 10px;
			// border:1px dashed;
			border-radius: 5px;
			cursor: pointer;
		}
		@include media( '>750px' ) {
			left:50px;
		}
		@include media( '>500px','<750px' ) {
			right: 20px;
		}
		@include media( '<500px' ) {
			// display: none;
			width: 50px;
			height: 300px;
			position: absolute;
			left: 325px;

			top:20px;
			// border: 1px solid;
			bottom: 20px;
			
			.color-img{
				width: 30px;
				height: 30px;
				margin-bottom: 5px;
		
			}
		}
		.color1{
				background-color: $color1;
			}
			.color2{
				background-color: $color2;
			}
			.color3{
				background-color: $color3;
			}
			.color4{
				background-color: $color4;
			}
			.color5{
				background-color: $color5;
			}

	}
}

@include media( '>800px' ){
	.is-heading{
		width: 90%;
		height: 5%;
		margin:auto;
		// border: 1px dashed;
		.heading-container{
			width: 300px;
			// border: 1px solid;
			float: right;
			text-align: left;
			margin-right: 0;
			.is-part1{
				font-size: scale( 4 );
				line-height: .3;
				opacity: .8;
				font-weight: 300;
				color: darken( $purple	 , 20%);
				// border: 1px solid;
			}
			.is-part2{
				// border: 1px dashed;
				font-size: scale( 5 );
				color:$header-menu-color;
				line-height: 0;
				// padding-left: 45px;
				margin-top:50px;
				font-weight: 700;
			}
		}
	}
} 

@include media( '<=800px' ) {
	.is-heading{
		padding-top:  20px;
		// border: 1px solid;
		.is-part1{
			font-size: scale( 2 );
			// text-align: right;
			padding-left: 30px;
			line-height: 0;
			opacity: .8;
			font-weight: 300;
			color: darken( $purple	 , 20%);
			// border: 1px solid;
		}
		.is-part2{
			// border: 1px dashed;
			// text-align: right;
			font-size: scale( 4 );
			color:$header-menu-color;
			line-height: 0;
			padding-left: 30px;
			margin-top:50px;
			font-weight: 700;
		}
	}
}
	
.installation-section{
	height: 90%;
	@include media( '<800px' ) {
			height: 80%;
	}
	.is-image{
		// border: 1px solid;
		position: absolute;
		overflow: hidden;
		width: 100%;
		text-align: center;
		margin: auto;
		img {
			padding: 40px;
		    display: inline;
		    max-height: 100%;
		    max-width: 100%;
		    overflow: hidden;
		}
	}
}

.feature-section1{
	overflow: hidden;
}

.feature-section{
	overflow: hidden;
	// height: 100%;

	@include media( '<=750px' ) {
		// width:;
		width: 95%;
	}
	@include media( '>750px' ) {
		width: 750px;
		padding-left: 15px;
		// border:1px solid;
	}
	margin:auto;
	margin-bottom: 50px;
	// border: 1px solid;

	.fs-image {
		float: left;
		// border: 1px solid;
		// width: 49%;
		position: relative;
		overflow: hidden;
		margin-bottom: 2%;
		cursor: pointer;
		width: 350px;
		height: 240px;

		.fs-image-text{
			@extend .normal-text;
			z-index: 10;
			position: absolute;
			top:0;
			left: 0;
			padding: 10px 15px 0 15px;
			display: none;
			// color: white;
			color: lighten($header-menu-color,20%);
			line-height: 1;
			letter-spacing: 1;
			// border: 1px solid;
			text-align: center;
			text-shadow: 0px 0px 2px #000;
			font-weight: 300;
			// text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
			// text-shadow: 0px 0px 2px #000;
			// font-size: 14px;
		}
		.fs-image-text-heading{
			@extend .big-text;
			z-index: 1;
			position: absolute;
			top:0;
			left:0;
			padding: 20px 0 0 30px;
			color: $white;
			display: block;
			// font-size: 18px;
		}
		.fs-text2{
			padding: 130px 10 0 30px;
			// color: white;
			text-align: left;
		}
		.fs-text3{
			padding: 40px 0 0 30px;
			// color: black;
			font-weight: 700;
		}
		.fs-text4{
			padding: 40px 0 0 30px;
			// color: black;
			font-weight: 700;
		}
		.fs-text5{
			padding: 40px 160px 0 170px;
			// color: white;
			text-align: left;
			// font-weight: ;	
		}
		.blackColor{
			color: black;
			font-weight: 700;
		}
		.fs-image-container-blur{
			z-index: 1;
			display: none;
			position: absolute;
			top:0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
		}

		.fs-image-container{
			z-index: 0;
			position: relative;
			width: 100%;
			height: inherit;
			float: left;
			background-size: cover;
		}
		.black-bgrd{
			display: none;
			 position:absolute;
		    top:0px;
		    left:0px;
		    width:350px;
		    height:250px;
		    background-color:black;
		    z-index:2;
		    opacity:.5;
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}

		.fs-img-1 {
			background: url("/images/fs/PreserMoods.jpg");
		}
		.fs-img-1b {
			background: url("/images/fs/PreserMoods-b.jpg");
		}

		.fs-img-2 {
			background: url("/images/fs/SpamFilter.jpg");

		}
		.fs-img-2b {
			background: url("/images/fs/SpamFilter-b.jpg");
		}

		.fs-img-3 {
			background: url("/images/fs/MusicSync.jpg");
		}
		.fs-img-3b {
			background: url("/images/fs/MusicSync-b2.jpg");
		}
		.fs-img-4 {
			background: url("/images/fs/WeatherAlert.jpg");
		}
		.fs-img-4b {
			background: url("/images/fs/WeatherAlert-b.jpg");
		}

		.fs-img-5 {
			background: url("/images/fs/callAlert.jpg");
		}
		.fs-img-5b {
			background: url("/images/fs/callAlert-b.jpg");
		}

		&:hover{
			.fs-image-container-blur{
				display: block;
			}
			.fs-image-text {
				display: block;
			}
			.black-bgrd{
				display: block;
			}
			.fs-image-text-heading {
				display: none;
			}
		}
		@include media( '<=600px' ) {
			.fs-image-text {
				// display: block;
				font-size: scale( -1 );
				// font-size: 20px;
				// padding: 20px 0 0 30px;
			}
			.fs-text5{
				width: 70%;
				padding: 20px 200px 0 160px;
				color: white;
				text-align: left;
			}

		}		
	}

	.fs-image-right {
		margin-left: 2%;
	}

	.fs-image-center {
		margin-top: 30%;
		width: 720px;
		height: 325px;
		float: none;
		// margin: 0 auto;
	}

	@include media( '<=800px' ) {
		.fs-image-right, .fs-image-center {
			float: none;
			margin: 0 auto 20px auto;
		}
	}
}

.insideLite-section{
	height: 80%;
	@include media( '<900px' ){
		height: 100%;	
	}
	// border: 1px solid;
}

.lite-image-icon{
	@include media( '<750px' ) {
		width: 90%;
		margin-bottom: 50px;
	}
	@include media( '>=750px','<=900px' ) {
		width: 80%;
		margin-bottom: 50px;
	}
	@include media( '>=900px' ) {
		width: 90%;
		// border: 1px solid;
		margin-bottom: 100px;
	}
	margin: auto;
	
	.lite-image-container{
		@include media( '>=900px' ) {
			float: left;
			width: 40%;
			// height: inherit;
			// border: 1px dashed;
			padding-top: 0;
			img{
				max-width: 80%;
				// max-height: 100%;
				text-align: center;
				display: block;
			    margin-left: auto;
			    margin-right: auto
			}
		}
		@include media( '<900px' )
		{
			height: 65%;
			text-align: center;
			margin: auto;
			img {
			    display: inline;
			    max-height: 100%;
			    max-width: 100%;
			}
		}

	}
	.lite-icon-container{
		// border: 1px dashed;
		// margin-bottom: 10px;
		.text-container{
			@extend .big-text;
			color: $header-menu-color;
		}
		@include media( '>=900px' )
		{
			float: right;
			width: 60%;
			margin-top:10%;
			// border: 1px dashed red;
			.test{
				width: 33%;
				float: left;
				margin:auto;
				height: 25%;
				// border: 1px solid;
				.icon-container{
					width: 70%;
					height: 70%;
					margin: auto;
					// border: 1px dashed;
					img{
						opacity: 0.4;
						max-width: 100%;
						max-height: 100%;
						display: block;
					    margin-left: auto;
					    margin-right: auto
					}
				}
				.text-container{
					width: 100%;
					// border: 1px solid;
					text-align: center;
					font-size: scale( 0 );
					padding: 10px;
					color:$header-menu-color;
				}
			}
		}
		@include media( '<900px' )
		{
			.test{
				height: 100px;
				width: 33%;
				// margin: auto;
				margin-top: 10px;
				margin-bottom: 20px;
				// border: 1px dashed;
				float: left;
				.icon-image-container{
					width: 100%;
					// height: 70%;
					float: left;
					// border: 1px solid;
					.icon-container{
						margin: auto;
						// border: 1px dashed;
						text-align: center;
						img {
							opacity: 0.4;
						    display: inline;
						    max-height: 100%;
						    max-width: 100%;
						}
						@include media( '<=400px' ) {
							height: 50%;
						}
						@include media( '>=400px','<600px' ) {
							height: 60%;
						}
						@include media( '>600px' ) {
							height: 70%;
						}
					}
					.text-container{
						margin-top: 10px;
						font-size: scale( 1 );
						height: 30%;
						text-align: center;
						padding: 0;
						line-height: 1;
						@include media( '<500px' ) {
							// height: 60%;
							font-size: scale( -1 );
						}
					}
				}
			}

		}
	}
}

.feature-icons-section{
	width: 90%;
	height: 30%;
	margin: auto;
	// border: 1px solid;
	margin-top:5%;
	margin-bottom:5%;
	.test1{
		width: 90%;
		margin:auto;
		// border: 1px solid blue;
		height: 100%;
	}
	.fs-icon-text{
		position: relative;
		height: 100%;
		float: left;
		cursor: pointer;
		@include media( '<800px' ) {
			width: 50%;
		}
		@include media( '>=800px' ) {
			width: 16.5%;
		}
	}
	.fs-hidden-text{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		letter-spacing: 1;
		display: none;
		z-index: 5;
		line-height: 1.3;
		@extend .normal-text;
		color:$header-menu-color;
		// color: darken($header-menu-color , 30%);
		font-family: $title-font;
		font-weight: 300;
		@include media( '<500px' ) {
			font-size: scale( -1 );
			font-weight: 500;
			letter-spacing: .5;
			line-height: 1.3;
		}

	}
	.fs-icon-text:hover .fs-hidden-text{
		display: block;
	}
	.fs-icon-text:hover .icon-container {
		opacity: 0;
		cursor: pointer;
	}
	.fs-icon-text:hover .text-container {
		opacity: 0;
	}
	.icon-container{
		width: 100%;
		float: left;
		margin: auto;
		@include media( '<800px' ) {
			margin-top:10px;
			height: 50%;
		}
		@include media( '>=800px' ) {
			height: 60%;
		}
		img{
			opacity: 0.4;
			max-width: 100%;
			max-height: 100%;
			text-align: center;
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		    @include media( '<=950px' ) {
				padding: 15px;
			}
			@include media( '>=950px' ) {
				padding: 30px;
			}
		}
	}
	.text-container{
		@extend .big-text;
		@include media( '<=500px' ) {
			font-size: scale( -1 );
		}
		color: $header-menu-color;
		text-align: center;
		// border: 1px solid blue;
		height: 25%;
		width: 100%;
		float: left;
		padding-top: 20px;

	}
}
.plug-play-section{
	width: 90%;
	height: 80%;
	font-weight: 300;
	.purpleColor{
		color: darken($purple , 20%);
	}
	margin:auto;
	@include media( '>500px','<800px' ) {
		// border: 1px solid;
		height: 60%;
	}
	.heading{
		@extend .huge-text;
		@include media( '<600px' ) {
			 font-size: scale( 2 );			
		}
		color: $grey-download;
	}
	.content{
		@extend .normal-text;
		@include media( '<600px' ) {
			 font-size: scale( -1 );			
		}
		color: darken( $header-menu-color , 20%);
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: .5;
	}
	.img-text-container{
		// border: 1p	x solid blue;
		margin-top: 10%;
		@include media( '>=800px' ) {
			// border: 1px solid;
			height: 50%;
		}
		@include media( '<800px' ) {
			// border: 1px dashed;
			height: 30%;
		}

	}
	.pp-img-container{
		// border: 2px solid;
		width: 33%;
		@include media( '<600px' ) {
			width: 100%;			
		}
		height: 100%;
		float: left;
		margin:auto;
		// border: 1px dashed;
		// margin: 5% auto;
		img{
			display: inline;
			// border: 1px solid;
			max-height: 100%;
			max-width: 100%;
			margin: auto;
			@include media( '<600px' ) {
				height: 60%;			
			}
				// opacity: .4;
		}
		.pp-img1{
			margin-left: 20%;
		}
		.icon-image-container{
			width: 50%;
			@include media( '<600px' ) {
				width: 30%;
				// margin-bottom: 10px;
			}
			margin: auto;
		}
		.icon-text-container{
			width: 70%;
			line-height: 1.2;
			letter-spacing: .5;	
			margin: auto;
			padding-top: 20px;
			font-weight: 500;
			text-align: center;
			// border: 1px solid;
			@extend .big-text;
			color:darken( $grey-download , 20%);
			@include media( '<600px' ) {
				width: 100%;
				 font-size: scale( -1 );
			}
			// color: $grey-download;
		}
	}
}
.know-more-heading{
		margin: auto;
		@extend .giant-text;
		color:$black-text;
		cursor: pointer;
		font-weight: 300;
		text-align: right;
		padding-right: 5%;
		@include media( '<800px' ) {
			font-size: scale( 2 );
			margin-bottom: 20px;
			margin-top: 0;
			font-weight: 100;
		}
		p{
			margin-top:0px;
			// border: 1px solid;
			margin-bottom: 10px;
		}
		a{
			text-decoration: none;
			outline: none;
			color: inherit;
		}
	}
// 

.hide{
	display: none !important;
}
.show{
	display: block !important;
}
// .fs-image-container-blur{
// 	@extend .hide;
// }
.video-close {
    @extend .giant-text;
    @include media( '<800px' ) {
		font-size: scale( 2 );
	}
    position: absolute;
    top:0;
    overflow: hidden;
    cursor: pointer;
    opacity: .7;
    transition: opacity 0.5s ease-in-out;
    &:hover {
        opacity: 5;
    }

}


.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }



