.header-container{
	width: 100%;
	position: relative;
	top:0;
	overflow: hidden;
	height: 100px;
	padding:10px 4%;
	// text-transform: uppercase;
	// border-bottom: 2px solid red;
	.header-logo{
		@extend .logo-common;
		// border: 1px solid;
		float: left;
	}
	.header-menu{
		// border: 1px solid;
		@extend .menu-common;
		@extend .normal-text;
		float:right;
	}
}


.main-section{
	position: relative;
	overflow: hidden;
	height: 85%;
	// border: 1px solid;
	.image-container{
		width: 400px;
		height: 65%;
		text-align: center;
		margin: auto;
		// border:1px dashed;
		// .banner { width :100%;
		// 	height: 100%;
		// 	position: relative; overflow: hidden; border:1px solid;}
	 //    .banner li { list-style: none;}
	 //    .banner ul li { float: left; }
		img {
		    display: inline;
		    max-height: 100%;
		    max-width: 100%;
		}
	}
	.main-section-heading{
		@extend .big-text;
		// border: 1px solid;
		width: 300px;
		margin: auto;
		margin-top: 40px;
		text-align: center;
		font-weight: 100;
	}
	.icon-text{
		height: 100px;
		@include media( '<=750px' ) {
			width: 80%;
		}
		@include media( '>=750px' ) {
			width: 60%;
		}

		margin: auto;
		// margin-top: 30px;
		// border: 1px solid;
		.icon-container{
			width: 33%;
			height: 70%;
			float: left;
			.icon-image-container{
				margin: auto;
				// border: 1px dashed;

				@include media( '<=750px' ) {
					// width:;
					height: 80%;
				}
				@include media( '>=750px' ) {
					// width: 60%;
					width: 150px;
					height: 100%;
				}
				text-align: center;
				img {
					opacity: 0.4;
				    display: inline;
				    max-height: 100%;
				    max-width: 100%;
				}
			}
			.icon-text-container{
				@extend .normal-text;
				color:$header-menu-color;
				height: 30%;
				text-align: center;
				padding: 0;
			}
		}
	}
}
.content{
	width: 100%;
	.is-text1{
		color:black;
		@extend .very-big-text;
		line-height: 0;
		padding-left: 30px;
		padding-top: 30px;
	}
}

.lighting-section1{
	position: relative;
	overflow: hidden;
	width: 100%;
	// background-color: red;
	max-height: 100%;
	// margin-top: 5%;
	// border: 1px solid;
	
	img{
		max-width: 100%;
		min-height: 100%;
		max-height: 1150px;
		margin-top: -25%;
		// margin: auto;
	}
	.is-text{
		position: absolute;
// overflow: auto;
		top:-30px;
		padding-left: 30px;
		
		.is-text2{
			// color:red;
			@extend .giant-text;
			color: $white;
			// padding-left: 30px;
			// margin-top:20px;
			line-height: 0;
			// margin-top: 20px;
		}
	}
	.lg-content{
		overflow: hidden;
		position: absolute;
		top:50px;
		width: 50%;
		// left:;
		right: 0;
		@extend .small-text;
		color: $white;
		text-align: right;
		line-height: 1.5;
		padding-right: 30px;
		letter-spacing: 1;
	}
	.lg-image{

		position: absolute;
		overflow: hidden;
		// top:0;
		// left: 70%;
		right: 50px;
		// bottom: 70%;
		// top:0%;
		bottom: 0;
		width: 25%;
		// @include media( '<=800px' ) {
		// 	// width:;
		// 	width: 85%;
		// }
		// @include media( '>=1000px' ) {
		// 	width: 275px;
		// }
		
		// border: 1px solid;
		img{
			max-width: 100%;
			max-height: 100%;
			margin-top: 0;
			// margin-bottom: 20%;

		}
	}
}

.is-heading{
	padding-top:  20px;
	.is-part1{
		@extend .very-big-text;
		padding-left: 50px;
		line-height: 0;
		opacity: .8;
		font-weight: 100;
	}
	.is-part2{
		@extend .very-giant-text;
		color:$header-menu-color;
		line-height: 0;
		// border: 1px solid;
		//
		padding-left: 45px;
		margin-top:50px;
	}
}
.installation-section{
	height: 90%;
	.is-image{
		// border: 1px solid;
		position: absolute;
		overflow: hidden;
		width: 100%;
		text-align: center;
		margin: auto;
		img {
			padding: 40px;
		    display: inline;
		    max-height: 100%;
		    max-width: 100%;
		    overflow: hidden;
		}
	}
}
.fs-image-container-blur{
	display: none;
	position: absolute;
	top:0;
	right: 0;
}

.feature-section{
	// height: 100%;
	
	@include media( '<=800px' ) {
		// width:;
		width: 85%;
	}
	@include media( '>=800px' ) {
		width: 65%;
		// border:1px solid;
	}
	margin:auto;
	margin-bottom: 50px;
	// border: 1px solid;

	.fs-image-text{
		overflow: hidden;
		position: relative;
		width: 45%;
		float: left;
		margin:0 2.5% 2% 0;
		// border: 1px dashed;
		.fs-image-container{
			position: relative;
			width: 100%;
			height: inherit;

			float: left;
			.fs-row1col1{
				margin: 2% 0 0 0;
			}
		}
		&:hover{
			.fs-image-container-blur{
				display: block;
			}
		}
		img{
			max-width: 100%;
			max-height: 100%;
			text-align: center;
			display: block;
		    margin-left: auto;
		    margin-right: auto
		}

	}
	.fullWidth{
		// border:1px solid red;
		// height: inherit;
		margin: auto;
		width: 100%;
		.fs-image-container1{
			// border: 1px solid;
			width:45%;
			margin:auto;
			margin-bottom: 50px;
		}
	}
}

.lite-image-icon{
	@include media( '<750px' ) {
		width: 90%;
	}
	@include media( '>=750px','<=900px' ) {
		width: 80%;
	}
	@include media( '>=900px' ) {
		width: 70%;
	}

	// border: 1px solid;
	height: 85%;
	margin: auto;
	.lite-image-container{
		@include media( '>=750px' ) {
			float: left;
			width: 40%;
			height: inherit;
			// border: 1px dashed;
			padding: 10px;
			img{
				max-width: 100%;
				max-height: 100%;
				text-align: center;
				display: block;
			    margin-left: auto;
			    margin-right: auto
			}
		}
		@include media( '<750px' )
		{
			width: 400px;
			height: 65%;
			text-align: center;
			margin: auto;
			// border:1px dashed;
			// .banner { width :100%;
			// 	height: 100%;
			// 	position: relative; overflow: hidden; border:1px solid;}
		 //    .banner li { list-style: none;}
		 //    .banner ul li { float: left; }
			img {
			    display: inline;
			    max-height: 100%;
			    max-width: 100%;
			}
		}

	}
	.lite-icon-container{
		.text-container{
			@extend .normal-text;
			color: $header-menu-color;
		}
		@include media( '>=750px' )
		{
			float: right;
			width: 60%;
			// height: 33%;
			height: inherit;
			// border: 1px dashed;
			.test{
				width: 70%;
				height: 60%;
				// border: 1px solid;
				// margin: auto;
				margin: 17% 0 0 30%;
				// border: 1px solid red;
				.icon-container{
					height: 25%;
					width: 30%;
					// border: 1px solid;
					float: left;
					margin-bottom: 50px;
					img{
						opacity: 0.4;
						max-width: 100%;
						max-height: 100%;
						text-align: center;
						display: block;
					    margin-left: auto;
					    margin-right: auto
					}
				}
				.text-container{
					float: left;
					width: 70%;
					height: 25%;
					padding-top: 25px;
					margin-bottom: 50px;
				}
			}
		}
		@include media( '<750px' )
		{
			.test{
				height: 100px;
				width: 90%;
				margin: auto;
				margin-top: 10px;
				// border: 1px dashed;
				.icon-image-container{
					width: 33%;
					height: 70%;
					float: left;
					// border: 1px solid;
					.icon-container{
						margin: auto;
						// border: 1px dashed;
						text-align: center;
						img {
							opacity: 0.4;
						    display: inline;
						    max-height: 100%;
						    max-width: 100%;
						}
						@include media( '<=750px' ) {
							// width:;
							height: 80%;
						}
						@include media( '>=750px' ) {
							// width: 60%;
							width: 150px;
							height: 100%;
						}
					}
					.text-container{
						height: 30%;
						text-align: center;
						padding: 0;
					}
				}
			}

		}
	}
}

.feature-icons-section{
	width: 90%;
	height: 30%;
	margin: auto;
	// border: 1px solid;
	margin-top:10%;
	margin-bottom:15%;
	.test1{
		width: 90%;
		margin:auto;
		// border: 1px solid blue;
		height: 100%;
	}
	.fs-icon-text{

		@include media( '<600px' ) {
			// height: 40%;
			width: 50%;
		}
		@include media( '>=600px' ) {
			width: 16.5%;
		}
		height: 100%;
		// border: 1px dashed;
		float: left;
	}
	.icon-container{
		@include media( '<750px' ) {
			height: 40%;
		}
		@include media( '>=750px','<=900px' ) {
			height: 60%;
		}
		@include media( '>=900px' ) {
			height: 75%;
		}

		width: 100%;
		// border: 1px solid red;
		float: left;
		margin: auto;
		// margin-bottom: 50px;
		img{
			opacity: 0.4;

			max-width: 100%;
			max-height: 100%;
			text-align: center;
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		    @include media( '<=950px' ) {
				// height: 60%;
				padding: 15px;
			}
			@include media( '>=950px' ) {
				// height: 75%;
				padding: 30px;
			}
		}
	}
	.text-container{
		@extend .normal-text;
		color: $header-menu-color;
		text-align: center;
		// border: 1px solid blue;
		height: 25%;
		width: 100%;
		float: left;
		padding-top: 20px;

	}
}

.press-icons-section{
	width: 90%;
	height: 15%;
	margin: auto;
	// border: 1px solid;
	margin:5% auto;
	// margin-bottom:15%;
	margin-left: 10%;
	.test1{
		width: 100%;
		margin:auto;
		// border: 1px solid blue;
		height: 100%;
	}
	.fs-icon-text{
		@include media( '<600px' ) {
			// height: 40%;
			width: 50%;
			margin-bottom: 20px;
		}
		@include media( '>=600px' ) {
			// width: 16.5%;
			width: 25%;
		}

		height: 100%;
		// border: 1px dashed;
		float: left;
	}
	.icon-container{
		height: 100%;
		width: 80%;
		// border: 1px solid red;
		float: left;
		margin: auto;
		// margin-bottom: 50px;
		img{
			max-width: 100%;
			max-height: 100%;
			text-align: center;
			display: block;
		    margin-left: auto;
		    margin-right: auto
		}
	}
	.e-marginAdjust{
		margin-top: -20px;
	}
}

.footer-container{

	.purpleline{
		position: relative;
	    overflow: hidden;
	    width: 100%;
	    height: 10px;
	    background: $separator;
	    margin: 0 auto;
	}
	.footer-section{
		width: 100%;
		height: 30%;
		padding-top: 20px;
		background-color: $light-grey;
	}
	.footer-menu{
		height: 100%;
		float: left;

		@include media( '<600px' ) {
			// height: 40%;
			width: 70%;
			// margin-bottom: 20px;
		}
		@include media( '>=600px' ) {
			// width: 16.5%;
			width: 60%;
		}
	}
	.fm-container{
		height: 100%;
		width: 33%;
		float: left;
		text-align: left;
		// border: 1px solid red;
		a{
			text-decoration: none;
		}
		li{
			@extend .menu-common;
			padding: 5% 0 2% 15%;
			@extend .normal-text;
			color:black;
			display: block;
			line-height: 1;
			// border: 1px solid;
			// letter-spacing: 1;
		}
	}
	.footer-download{
		height: 100%;
		float: left;
		@include media( '<600px' ) {
			width: 30%;
		}
		@include media( '>=600px' ) {
			width: 40%;
		}
		color: black;
		// border: 1px dashed;
		.footer-container{
			padding-top: 5%;
			width: 60%;
			margin: auto;
			height: 100%;
			// border: 1px solid red;
			a{
				color:black;
				text-decoration: none;
			}
			li{
				// border: 1px dashed;
				@extend .menu-common;
				@extend .normal-text;
				line-height: 1;
				text-align: right;
				color: black;
				display: block;
				@include media( '<600px' ) {
					padding: 10% 0 0 0;
				}
				@include media( '>=600px' ) {
					padding: 5% 0 0 0;
				}

			}
		}
	}
}

.footer-logo{
	float: right;
	width: 150px;
	height: 100px;
	// border: 1px solid;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.hide{
	display: none;
}

// .fs-image-container-blur{
// 	@extend .hide;
// }