

.header-container{
	width: 100%;
	position: relative;
	top:0;
	overflow: hidden;
	height: 100px;
	padding:10px 4%;
	// text-transform: uppercase;
	// border-bottom: 2px solid red;
	.header-logo{
		@extend .logo-common;
		// border: 1px solid;
		float: left;
	}
	.header-menu{
		// border: 1px solid;
		@extend .menu-common;
		@extend .normal-text;
		float:right;
		font-weight: lighter;
		letter-spacing: .5
	}
	.header-collapsed-menu-icon {
        display: none;
    }
    @include media( '<=750px' ) {

        .header-menu {
            display: none;
        }
        .header-collapsed-menu-icon {
            float: right;
            display: block;
            // line-height: 60;
            // color: #3c3c3c;
            font-size: 25px;
            opacity: 0.75;
            cursor: pointer;
            padding-top: 20px;
        }
    }
}
.header-menu-mobile {
    @extend .big-text;
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    background: lighten( $light-grey, 10% );
    display: none;
    z-index: 99999;
    .header-menu-mobile-close {
        @extend .huge-text;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.4s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
    li {
        padding: 10px 0;
        list-style: none;
        text-transform: uppercase;
        &:hover {
            font-weight:600;
        }
    }
    a{
    	color:inherit;
    	text-transform: none;
    	text-decoration: none;
    }
    &.isOpen {
        display: block;
    }
}

.main-section{
	position: relative;
	overflow: hidden;
	height: 85%;
	// border: 1px solid;
	.image-container{
		position: relative;
		height: 70%;
		text-align: center;
		margin: auto;
		@include media( '<400px' ) {
			height: 60%;
		}
		img {
		    display: inline;
		    max-height: 100%;
		    max-width: 100%;
		}
	}
	.main-section-heading{
		@extend .big-text;
		// border: 1px solid;
		width: 300px;
		margin: auto;
		margin-top: 20px;
		text-align: center;
		font-weight: 100;
		@include media( '<=500px' ) {
			font-size: scale( 0 );
		}
	}
	.icon-text{
		height: 100px;
		// margin-top:20px;
		margin: auto;
		@include media( '<=800px' ) {
			width: 90%;
			margin-top:30px;
		}
		@include media( '>800px' ) {
			width: 70%;
		}
		.icon-container{
			width: 33%;
			height: 70%;
			float: left;
			.icon-image-container{
				margin: auto;
				text-align: center;
				@include media( '<=750px' ) {
					height: 80%;
				}
				@include media( '>=750px' ) {
					// width: 150px;
					height: 100%;
				}
				img {
					opacity: 0.4;
				    display: inline;
				    max-height: 100%;
				    max-width: 100%;
				}
			}
			.icon-text-container{
				@extend .big-text;
				@include media( '<=500px' ) {
					font-size: scale( -1 );
				}
				color:$header-menu-color;
				height: 30%;
				text-align: center;
				padding: 0;
			}
		}
	}
}
.content{
	width: 100%;
	.is-text1{
		color:black;
		@extend .very-big-text;
		line-height: 0;
		padding-left: 30px;
		padding-top: 30px;
	}
}

.lighting-section1{
	position: relative;
	overflow: hidden;
	width: 100%;
	// background-color: red;
	max-height: 100%;
	// margin-top: 5%;
	// border: 1px solid;

	img{
		max-width: 100%;
		min-height: 100%;
		max-height: 1150px;
		@include media( '>900px' ) {
			margin-top: -25%;
		}

	}
	.is-text{
		position: absolute;
// overflow: auto;
		top:-30px;
		padding-left: 30px;

		.is-text2{
			@extend .giant-text;
			color: $white;
			line-height: 0;
			@include media( '<750px' ) {
				// top:-10px;
				padding-top: 15px;
				font-size: scale( 2 );
    			font-family: $title-font;
			}
		}
	}
	.lg-content{
		overflow: hidden;
		position: absolute;


		// left:;
		right: 0;
		@extend .normal-text;
		color: $white;
		text-align: right;

		padding-right: 30px;
		letter-spacing: 2;
		@include media( '<500px' ) {
			line-height: 1.2;
			width: 80%;
			text-align: left;
			top:70px;
			left: 20px;
			font-size: scale( -1 );
		}
		@include media('>=500px', '<900px' ) {
			line-height: 1.2;
			width: 60%;
			top:70px;
		}
		@include media( '>=900px' ) {
			line-height: 1.5;
			width: 50%;
			top:50px;
		}
	}
	.lg-image{

		position: absolute;
		overflow: hidden;
		bottom: 0;

		@include media( '>500px','<750px' ) {
			width: 30%;
			left:10px;
		}
		@include media( '>=750px' ) {
			width: 20%;
			right: 50px;
		}
		@include media( '<500px' ) {
			display: none;
		}
		// border: 1px solid;
		img{
			max-width: 100%;
			max-height: 100%;
			margin-top: 0;
			// margin-bottom: 20%;

		}
	}
}

.is-heading{
	padding-top:  20px;
	.is-part1{
		@extend .very-big-text;
		padding-left: 50px;
		line-height: 0;
		opacity: .8;
		font-weight: 100;
	}
	.is-part2{
		@extend .very-giant-text;
		@include media( '<400px' ) {
			font-size: scale( 3 );
		}
		color:$header-menu-color;
		line-height: 0;
		// border: 1px solid;
		//
		padding-left: 45px;
		margin-top:50px;
	}
}
.installation-section{
	height: 90%;
	@include media( '<800px' ) {
			height: 80%;
	}
	.is-image{
		// border: 1px solid;
		position: absolute;
		overflow: hidden;
		width: 100%;
		text-align: center;
		margin: auto;
		img {
			padding: 40px;
		    display: inline;
		    max-height: 100%;
		    max-width: 100%;
		    overflow: hidden;
		}
	}
}

.feature-section{
	overflow: hidden;
	// height: 100%;

	@include media( '<=800px' ) {
		// width:;
		width: 85%;
	}
	@include media( '>=800px' ) {
		width: 65%;
		// border:1px solid;
	}
	margin:auto;
	margin-bottom: 50px;
	// border: 1px solid;

	.fs-image {
		float: left;
		width: 49%;
		position: relative;
		overflow: hidden;
		margin-bottom: 2%;
		cursor: pointer;
		height: 240px;

		.fs-image-text{
			z-index: 2;
			position: absolute;
			top:0;
			left: 0;
			padding: 10px 0 0 15px;
			display: none;
			color: white;
			font-size: 14px;
		}

		.fs-image-container-blur{
			z-index: 1;
			display: none;
			position: absolute;
			top:0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
		}

		.fs-image-container{
			z-index: 0;
			position: relative;
			width: 100%;
			height: inherit;
			float: left;
			background-size: cover;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}

		.fs-img-1 {
			background: url("/images/fs/1.png");
		}
		.fs-img-1b {
			background: url("/images/fs/b1.png");
		}

		.fs-img-2 {
			background: url("/images/fs/2.png");
		}
		.fs-img-2b {
			background: url("/images/fs/b2.png");
		}

		.fs-img-3 {
			background: url("/images/fs/3.png");
		}
		.fs-img-3b {
			background: url("/images/fs/b3.png");
		}

		.fs-img-4 {
			background: url("/images/fs/4.png");
		}
		.fs-img-4b {
			background: url("/images/fs/b4.png");
		}

		&:hover{
			.fs-image-container-blur{
				display: block;
			}
			.fs-image-text {
				display: block;
			}
		}

		@include media( '<=800px' ) {
			width: 100%;
			height: 240px;
			float: none;
			margin: 0 auto 20px auto;
			.fs-image-text {
				display: block;
				font-size: 20px;
				padding: 20px 0 0 30px;
			}
			&:hover {
				.fs-image-container-blur{
					display: none;
				}
			}
		}
	}

	.fs-image-right {
		margin-left: 2%;
	}

	.fs-image-center {
		float: none;
		margin: 0 auto;
	}

	@include media( '<=800px' ) {
		.fs-image-right, .fs-image-center {
			float: none;
			margin: 0 auto 20px auto;
		}
	}
}

.lite-image-icon{
	@include media( '<750px' ) {
		width: 90%;
	}
	@include media( '>=750px','<=900px' ) {
		width: 80%;
	}
	@include media( '>=900px' ) {
		width: 80%;
	}

	// border: 1px solid;
	height: 85%;
	margin: auto;

	.lite-image-container{
		@include media( '>=800px' ) {
			float: left;
			width: 40%;
			// height: inherit;
			// border: 1px dashed;
			padding-top: 0;
			img{
				max-width: 80%;
				// max-height: 100%;
				text-align: center;
				display: block;
			    margin-left: auto;
			    margin-right: auto
			}
		}
		@include media( '<800px' )
		{
			height: 65%;
			text-align: center;
			margin: auto;
			img {
			    display: inline;
			    max-height: 100%;
			    max-width: 100%;
			}
		}

	}
	.lite-icon-container{
		// border: 1px dashed;
		.text-container{
			@extend .big-text;
			color: $header-menu-color;
		}
		@include media( '>=800px' )
		{
			float: right;
			width: 60%;
			margin-top:3%;
			.test{
				width: 70%;
				height: 23%;
				margin-left:40%;
				// text-align: left;
				// border: 1px solid red;
				.icon-image-container{
					// border: 1px dashed blue;
					// margin-bottom:5%;
					.icon-container{
						// height: 100%;
						width: 30%;
						// border: 1px solid;
						float: left;
						padding: 3%;
						img{
							opacity: 0.4;
							max-width: 100%;
							max-height: 100%;
							display: block;
						    margin-left: auto;
						    margin-right: auto
						}
					}
					.text-container{
						// border: 1px solid;
						float: right;
						width: 70%;
						height: 25%;
						margin-top:5%;
						padding: 5%;
						line-height: 1;
					}
				}
			}
		}


		@include media( '<800px' )
		{
			.test{
				height: 100px;
				width: 33%;
				// margin: auto;
				margin-top: 10px;
				// border: 1px dashed;
				float: left;
				.icon-image-container{
					width: 100%;
					// height: 70%;
					float: left;
					// border: 1px solid;
					.icon-container{
						margin: auto;
						// border: 1px dashed;
						text-align: center;
						img {
							opacity: 0.4;
						    display: inline;
						    max-height: 100%;
						    max-width: 100%;
						}
						@include media( '<=400px' ) {
							height: 50%;
						}
						@include media( '>=400px','<600px' ) {
							height: 60%;
						}
						@include media( '>600px' ) {
							height: 70%;
						}
					}
					.text-container{
						margin-top: 10px;
						font-size: scale( 1 );
						height: 30%;
						text-align: center;
						padding: 0;
						line-height: 1;
						@include media( '<500px' ) {
							// height: 60%;
							font-size: scale( -1 );
						}
					}
				}
			}

		}
	}
}

.feature-icons-section{
	width: 90%;
	height: 30%;
	margin: auto;
	// border: 1px solid;
	margin-top:10%;
	margin-bottom:15%;
	.test1{
		width: 90%;
		margin:auto;
		// border: 1px solid blue;
		height: 100%;
	}
	.fs-icon-text{
		position: relative;
		height: 100%;
		float: left;
		@include media( '<800px' ) {
			width: 50%;
		}
		@include media( '>=800px' ) {
			width: 16.5%;
		}
	}
	.fs-hidden-text{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		display: none;
		z-index: 5;
		@extend .normal-text;

	}
	.fs-icon-text:hover .fs-hidden-text{
		display: block;
	}
	.fs-icon-text:hover .icon-container {
		opacity: .2;
		cursor: pointer;
	}
	.fs-icon-text:hover .text-container {
		opacity: .2;
	}
	.icon-container{
		width: 100%;
		float: left;
		margin: auto;
		@include media( '<800px' ) {
			height: 40%;
		}
		@include media( '>=800px' ) {
			height: 60%;
		}
		img{
			opacity: 0.4;
			max-width: 100%;
			max-height: 100%;
			text-align: center;
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		    @include media( '<=950px' ) {
				padding: 15px;
			}
			@include media( '>=950px' ) {
				padding: 30px;
			}
		}
	}
	.text-container{
		@extend .big-text;
		@include media( '<=500px' ) {
			font-size: scale( -1 );
		}
		color: $header-menu-color;
		text-align: center;
		// border: 1px solid blue;
		height: 25%;
		width: 100%;
		float: left;
		padding-top: 20px;

	}
}

.press-icons-section{
	width: 90%;
	height: 15%;
	margin: auto;
	// border: 1px solid;
	margin:5% auto;
	// margin-bottom:15%;
	margin-left: 10%;
	.test1{
		position: relative;
		width: 100%;
		margin:auto;
		height: 100%;
	}
	.fs-hidden-text{
		width: 100%;
		position: absolute;
		top: -20px;
		left: 0;
		height: inherit;
		// text-align: center;
		display: none;
		z-index: 5;
		// border: 1px solid;
		@extend .normal-text;

	}
	.fs-icon-text:hover .fs-hidden-text{
		display: block;
		 cursor:pointer;
	}
	.fs-icon-text:hover .icon-container {
		opacity: .3;
	}
	
	.fs-icon-text{
		position: relative;
		@include media( '<800px' ) {
			// height: 40%;
			width: 50%;
			margin-bottom: 20px;
		}
		@include media( '>=800px' ) {
			// width: 16.5%;
			width: 25%;
		}
		height: 100%;
		 // border: 1px dashed;
		float: left;
	}
	.icon-container{
		height: 100%;
		width: 80%;
		// border: 1px solid red;
		float: left;
		margin: auto;
		// margin-bottom: 50px;
		 cursor:pointer;
		img{
			max-width: 100%;
			max-height: 100%;
			text-align: center;
			display: block;
		    margin-left: auto;
		    margin-right: auto;
		    cursor:pointer;
		}		
	}
	.press-hidden-text{
		display: block;
		position: absolute;
		top:0;
		left:0;
	}
	// .icon-container:hover .press-hidden-text{
	// 	display: block;
	// }
	.e-marginAdjust{
		margin-top: -20px;
	}
}

.footer-container{

	.purpleline{
		position: relative;
	    overflow: hidden;
	    width: 100%;
	    height: 10px;
	    background: $separator;
	    margin: 0 auto;
	}
	.footer-section{
		width: 100%;
		height: 30%;
		padding-top: 20px;
		background-color: $light-grey;
	}
	.footer-menu{
		height: 100%;
		float: left;

		@include media( '<600px' ) {
			// height: 40%;
			width: 70%;
			// margin-bottom: 20px;
		}
		@include media( '>=600px' ) {
			// width: 16.5%;
			width: 60%;
		}
	}
	.fm-container{
		height: 100%;
		width: 33%;
		float: left;
		text-align: left;
		// border: 1px solid red;
		a{
			text-decoration: none;
		}
		li{
			@extend .menu-common;
			padding: 5% 0 2% 15%;
			@extend .normal-text;
			color:black;
			display: block;
			line-height: 1;
			// border: 1px solid;
			// letter-spacing: 1;
		}
	}
	.footer-download{
		height: 100%;
		float: left;
		@include media( '<600px' ) {
			width: 30%;
		}
		@include media( '>=600px' ) {
			width: 40%;
		}
		color: black;
		// border: 1px dashed;
		.footer-container{
			padding-top: 5%;
			width: 60%;
			margin: auto;
			height: 100%;
			// border: 1px solid red;
			a{
				color:black;
				text-decoration: none;
				outline: none;
			}
			li{
				// border: 1px dashed;
				@extend .menu-common;
				@extend .normal-text;
				line-height: 1;
				text-align: right;
				color: black;
				display: block;
				@include media( '<600px' ) {
					padding: 10% 0 0 0;
				}
				@include media( '>=600px' ) {
					padding: 5% 0 0 0;
				}

			}
		}
	}
}

.footer-logo{
	float: right;
	width: 150px;
	height: 100px;
	// border: 1px solid;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.hide{
	display: none;
}

// .fs-image-container-blur{
// 	@extend .hide;
// }



