.menu-common{
	position: relative;;
	overflow: hidden;
	cursor: pointer;
	li{
		display: inline-block;
		padding:  20px 30px;
		// padding-left: 30px;
		color: $light-black ;
		vertical-align: middle;
		font-weight: 500;
		&:hover{
			color : darken( $light-black , 40%);
			font-weight: 700;
		}
		a {
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: none;
                color: inherit;
            }
        }
	}

}
.logo-common{
	width: 150px;
	height: 100%;
	text-align: center;
	// border: 1px solid;
	img {
		// border: 1px dashed;
	    display: inline;
	    max-height: 100%;
	    max-width: 100%;
	}
}

.e-section-seperator {
    position: relative;
    overflow: hidden;
    top: -20px;
    width: 90%;
    height: 2px;
    background: $separator;
    margin: 0 auto;
    // display: inline;
}

.e-page-seperator {
    position: relative;
    overflow: hidden;
    margin: 50px 0;
    width: 10%;
    height: 5px;
    background: $separator;
    margin: 0 auto;
    display: none;
}